.coming {

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 139px;
        position: relative;
    }

    &__right {
        max-width: 445px;
        width: 100%;
    }

    &__title {
        font-family: $mono;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #495567;
    }

    &__text {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin-top: 24px;
        margin-bottom: 40px;
    }

    &__left{
        position: relative;
    }

    &__right::before {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url(./../../images/coming-right-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        max-width: 740px;
        width: 100%;
        position: absolute;
        top: 35px;
        left: 0;
        transform: translate(-555px);
        z-index: 1;
    }
    &__right::after {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-image: url(./../../images/coming-egg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        max-width: 740px;
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        transform: translate(-680px);
    }

    &__btn {
        padding: 14px 39px;
        color: $white;
        background-color: $yellow;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        font-family: $mono;
        transition: all 0.1s ease;
        border: none;
        
        &:hover {
           background-color: white;
           color: $yellow;
           box-shadow: inset 0 0 0 3px $yellow;
        }
    }

    &__left {
    }

    &__pic {
    }

    &__img {
    }
}


@media only screen and (max-width: 768px) {
    .coming {

        &__main {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 40px;
            margin-top: 128px;
        }
    
        &__left {
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        &__right{
            position: relative;
        }

        &__right::before {
            content: "";
            display: inline-block;
            width: 735px;
            height: 138px;
            background-image: url(./../../images/coming-right-line.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            max-width: 740px;
            width: 100%;
            position: absolute;
            top: -455px;
            left: 0;
            transform: translate(-355px);
            z-index: 1;
        }
        &__right::after {
            content: "";
            display: inline-block;
            width: 445px;
            height: 445px;
            background-image: url(./../../images/coming-egg.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            max-width: 740px;
            width: 100%;
            position: absolute;
            top: -450px;
            left: 0;
            transform: translateX(-500px);
        }
        &__pic {
            display: block;
            justify-content: center;
        }
    
        &__img {
            width: 445px;
            height: 445px;
            object-fit: contain;
            margin-left: 150px;
            margin-right: 150px;
        }
       
        
        
    }
}